$primary-color : #ffffff;
// Font Sizes
$font-size-Paragraph: 1rem;
$font-size-h4:1.5rem;
// Font Weights
$font-weight-body: 400;
$font-weight-bold: 700;

// Line Height
$line-height-Paragraph: 2rem;
$line-height-h4:2rem;